networks:
  internal:
    enable_ipv4: true
    enable_ipv6: true
    driver: macvlan
    ipam:
      config:
        - subnet: 192.168.3.0/24
          gateway: 192.168.3.1
services:
  nameserver:
    image: femail_nameserver
    pull_policy: never
    build: ./nameserver/
    networks:
      internal:
        ipv4_address: 192.168.3.3
    environment:
      EXTRA_ARGS: -4
    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "953:953/tcp"
  mailey:
    image: femail_mailey_machine
    pull_policy: never
    hostname: mailey.femail
    dns: 192.168.3.3
    environment:
      MAIL_DOMAIN: mail.mailey.femail
    build:
      context: ./femail/debian/
    networks:
      internal:
        ipv4_address: 192.168.3.4
  rats:
    image: femail_rats_machine
    pull_policy: never
    hostname: rats.femail
    dns: 192.168.3.3
    build:
      context: ./postfix/
      args:
        DOMAIN: rats.femail
    networks:
      internal:
        ipv4_address: 192.168.3.5
  mice:
    image: femail_mice_machine
    pull_policy: never
    hostname: mice.femail
    dns: 192.168.3.3
    build:
      context: ./postfix/
      args:
        DOMAIN: mice.femail
    networks:
      internal:
        ipv4_address: 192.168.3.6
  failey:
    image: femail_failey_machine
    pull_policy: never
    hostname: failey.femail
    dns: 192.168.3.3
    environment:
      MAIL_DOMAIN: mail.failey.femail
    build:
      context: ./femail/scratch/
    networks:
      internal:
        ipv4_address: 192.168.3.7
  mailless:
    tty: true
    image: femail_mailless_machine
    pull_policy: never
    hostname: mailless.femail
    dns: 192.168.3.3
    build:
      context: ./mailless/
    networks:
      internal:
        ipv4_address: 192.168.3.8
